 /* #4,5,6 */
    p {
        color: yellow}

    * {
        font-family: Arial, Helvetica, sans-serif;}

    

/* #7 */
    h1 {
        font-size: 50px;}

/* #8 */

    #h2 {
        text-transform: uppercase;}

/* #9 */
    .language {
        background-color: lightgreen;}

/* #10 */
    [type="table"] {
        border: 1px solid; 
        border-color: royalblue;}

/* 11# */
    a + ul {
        list-style-type: none;}

/* #12 */
    a img {
        width: 100px;
        border-radius: 50px;}

/* #13 */
    ul ~ div {
        text-align: center;}

/* #14 */
    ul > li {
        letter-spacing: 10px;}